.menu1{
    min-width: 50px;
    min-height: 50px;
    background-color: white;
    position:relative;
    margin-left: 600px;
    margin-top: 200px;
    animation-name: hub;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
}
@keyframes hub{
    0%  {right:0px; bottom: 0px;}
    25% {right:10px; bottom: 25px;}
    50% {right:20px; bottom: 50px;}
    75% {right:30px; bottom: 75px;}
    100%{right:40px; bottom: 100px; min-width: 500px;min-height: 250px;margin-top: 150px;margin-left: 150px;}
}
.menu2{
    min-width: 50px;
    min-height: 50px;
    background-color: white;
    position:relative;
    margin-left: 50px;
    margin-top: 200px;
    animation-name: hub1;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
}
@keyframes hub1{
    0%  {right:0px; bottom: 0px;}
    25% {right:10px; bottom: 25px;}
    50% {right:20px; bottom: 50px;}
    75% {right:30px; bottom: 75px;}
    100%{right:40px; bottom: 100px; min-width: 500px;min-height: 250px;margin-top: 150px;margin-left: 150px;}
}